.container {
  margin-top: 5%;
}

.description {
  text-align: justify;
}

.img {
  background-image: url("../../assets/pics/Rectangle 2.png");
  background-size: cover;
  background-position: center;
  width: 45%;
  object-fit: cover;
}

.social-media {
  display: flex;
  justify-content: space-around;
}
