.container {
  margin-top: 5%;
}

.description {
  text-align: justify;
}

.img {
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

.header {
  height: 77vh;
  width: 100%;
}
