<div class="mt-5">
  <h2 class="work_experience_title">Work Experience</h2>

  <ul class="list-component">
    <li class="__item">
      <div class="card-component">
        <h2 class="__year">2024 - Now</h2>
        <h1 class="__title">
          Secretariat of Science, Technology, and Higher Education of Ceará -
          SECITECE
        </h1>
        <p class="__text">Front-end Developer Intern - (Next.js)</p>
      </div>
    </li>

    <li class="__item">
      <div class="card-component">
        <h2 class="__year">2022 - 2023</h2>
        <h1 class="__title">Lead Dell</h1>
        <p class="__text">Front-end Developer Intern - (Angular and React)</p>
      </div>
    </li>

    <li class="__item">
      <div class="card-component">
        <h2 class="__year">2022 - 2022</h2>
        <h1 class="__title">ThoughtWorks</h1>
        <p class="__text">Consultant Developer - (Spring Boot and React)</p>
      </div>
    </li>

    <li class="__item">
      <div class="card-component">
        <h2 class="__year">2021 - 2022</h2>
        <h1 class="__title">Lead Dell</h1>
        <p class="__text">Front-end Developer Intern (Angular)</p>
      </div>
    </li>
  </ul>
</div>
